@page
@model NoteBook.Models.Greeting
@{
    Layout = "../Shared/headerOnly.cshtml";
}
@{
    ViewData["Title"] = "Success";
}
<script type="text/javascript">
    document.body.style.backgroundColor = "aliceblue";
</script>

<div class="container">
    <div id="notebookTitle">
        <a asp-page="../Index" asp-route-id="" style="font-size:18px; color:cornflowerblue">Back</a>
        <h1>New Diary</h1>
        <div></div>
    </div>
    <hr />
</div>
<div class="container">
    <div class="" style="padding: 20% 10% 20% 10%; background-color: white; ">
        <div class="m-5">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-notebook-frame">

                    <p style="font-size: 20px;font-style: oblique; color: darkslateblue">
                        "Someone will always be better looking. Someone will always be smarter. Someone will always be more charismatic. But they will never be you – with your exact ideas, knowledge and skills."
                        @*@Html.DisplayFor(model => model.Content)*@
                    </p>

                </div>
                <div class="form-group form-create-div">
                    <button value="Confirm" style="font-size: 18px; color: cornflowerblue; font-style: oblique; width: 80px; height: 40px; border: none; background-color: transparent " class="btn btn-light font-weight-bolder" onclick="window.location.href ='../Index'">Confirm</button>
                </div>
            
        </div>
 
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
