@page
@model NoteBook.Pages.PhotoDiaries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhotoDiary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhotoDiary.PhotoDiaryId" />
            <div class="form-group">
                <label asp-for="PhotoDiary.Title" class="control-label"></label>
                <input asp-for="PhotoDiary.Title" class="form-control" />
                <span asp-validation-for="PhotoDiary.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoDiary.Date" class="control-label"></label>
                <input asp-for="PhotoDiary.Date" class="form-control" />
                <span asp-validation-for="PhotoDiary.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoDiary.FirstContent" class="control-label"></label>
                <input asp-for="PhotoDiary.FirstContent" class="form-control" />
                <span asp-validation-for="PhotoDiary.FirstContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoDiary.secondContent" class="control-label"></label>
                <input asp-for="PhotoDiary.secondContent" class="form-control" />
                <span asp-validation-for="PhotoDiary.secondContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoDiary.TemplateId" class="control-label"></label>
                <select asp-for="PhotoDiary.TemplateId" class="form-control" asp-items="ViewBag.TemplateId"></select>
                <span asp-validation-for="PhotoDiary.TemplateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
