p{
    font-size:18px;
}
.a-underline{
    display:inline-block;
}
a:hover{
    color:goldenrod;
}

thead th {
    color: grey;
}
table td {
    color: darkslateblue;
}
/*weather pic*/
#weatherIcon{
    width:60px;
    height:60px;
}
/*index page*/
.notebooks {
    height: 160px;
    margin: 2%;
    background-color: ghostwhite;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*line-height: 120px;*/
    vertical-align: central;
    border: 1px solid lightblue;
    border-radius: 2px 8px 8px 2px;
    font-size: 16px;
    padding-top: 6%;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 4px 4px 3px 1px aliceblue;
    transition: all 0.4s ease;
}
    .notebooks:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 6px 1px lightgrey;
    }


.notebooks a{
    color:darkslategrey;
    font-weight:600;
}

@media (min-width: 300px) {
    .notebooks {
        margin: 6%;
    }
}
@media (min-width: 485px) {
    .notebooks {
        margin: 8%;
    }
}

@media (min-width: 576px) {
    .notebooks {
        background-color: yellowgreen;
        margin: 2% 4%;
    }
    main .text-center {
        margin-bottom: 4%;
    }
}

@media (min-width: 768px) {
    .notebooks {
        height: 160px;
        margin: 4%;
        background-color: ghostwhite;
        
        text-align: center;
        justify-content: center;
        align-items: center;
        /*line-height: 120px;*/
        vertical-align: central;
        border: 1px solid lightblue;
        border-radius: 2px 8px 8px 2px;
        font-size: 16px;
        padding-top: 6%;
        flex-grow: 1;
        flex-basis: 0;
    }
    .notebooks a{
        color:dimgray;
    }
    main .text-center {
        margin-bottom: 0%;
    }
 
}


@media (min-width: 992px) {
    .notebooks {
        background-color: lightpink;
        padding-top: 4%;
        margin: 2%;
    }
    .notebooks a{
        color:white;
    }
    main .text-center {
        margin-bottom: 4%;
    }
}


@media (min-width: 1200px) {
    .notebooks {
        background-color: mediumpurple;
        height: 200px;
        margin: 10%;
        margin-bottom: -4%;
    }
    .notebooks a {
        color: white;
        font-size: 18px;
        font-weight: 700;
    }
    main .text-center {
        margin-bottom: -4%;
    }
}

@media (min-width: 1400px) {
    .notebooks {
        background-color: darkslategrey;
        height:200px;
    }
}
#notebookTitle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 0px 8px;
}
#notebookName{
    /*detail secret*/
    color:gray;
}
#journalFrame {
    /*background-color:aliceblue;*/
    border-radius: 6px;
    margin:4% 0%;
    padding: 4%;
}

#journalFrame title {
    color: darkslategrey;
}

div #content {
    color: darkslategrey;
    margin-bottom: 10%;
}

#underbanner a {
    color: lightslategray;
}

a:hover{
    text-decoration:none;
}
#banner{
    display:flex;
    justify-content:space-between;
}
#banner p{
    font-size:medium;
}
#title {
    display: flex;
    align-items:center;
    margin:4% 0%;
}
/*Journal create page*/

.form-control:focus {
    border-color: #fff;
    webkit-box-shadow: none;
    box-shadow: none;
}
.form-display {
    display: flex;
    align-items: baseline;
}
.form-itemBanner{
    background-color:white;
}
.create-journal {
    width: 100%;
}
#noteSelected {
    margin-left: 10%;

}
.btn-save{
    background-color:transparent;
}

.btn-save:hover {
    background-color:lightgrey;
    color: gold;
}

.select-no-border, .input-no-shadow {
    border: none;
    /*box-shadow: 0px 0px 10px 0px rgb(127,127,127,0.1);*/
}

.select-no-border:focus {
    outline: none;
}
*:focus {
    outline: none;
}
.form-mood-weather{
  justify-content:space-between;
}
.form-mood-weather :nth-child(3) {
    /*margin-right: 48%;*/
    width:150px;
}
.form-mood-weather :first-child {
    margin-right: 10%;
    width:80px;
}
#SelectWeatherIcon {
    width: 100px;
    margin-left: 2%;
}
.form-display label{
    margin-right:8%;
    margin-left:1%;
}
.form-bg {
    margin-left: 84%;
    margin-bottom: -0.1rem;
}
.label-BG-Title{
    font-size:18px;
}
.form-title-content {
    background-color: white;
    border: 1px solid lightblue;
    padding: 2%;
    margin-top:2%;
}

.form-title-content input{
    border: none;
}

.form-title-content input {
    border: none;
}
.form-title-content textarea {
    border: none;
    padding:2%;
    font-size:18px;
}
.form-group.form-title-content :nth-child(2) {
    margin-top: 2%;
}
.form-title-content input {
    font-size:20px;
}
.form-title-line {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: aliceblue;
}
.underline {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightblue;
}
.form-title-content textarea {
    height: 200px;
    outline-color:none;
}
.form-title-content input {
    height: 40px;
}
/*note & pic*/
.form-notes-pic {
    display: flex;
    justify-content: space-between;
}
.notes {
    background-color:lightyellow;
}
.form-notes {
    width: 48%;
    padding: 4%;
    border: none;
    color: chocolate;
    font-size:20px;
}
.form-pic {
    width: 48%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
/*create notebook*/
.input-notebook {
    margin: 10% 0% 8% 20%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightblue;
    width: 60%;
    text-align: center;
}
.form-notebook-frame {
    /*display: flex;*/
}
.form-create-div {
    justify-content: end;
    display:flex;
}
.form-create-btn {
    background: transparent;
    color: cornflowerblue;
    border: none;
    text-decoration-line: underline;
    font-style: oblique;
    font-size: 20px;
}

/*Notebook page datalist view*/
.booklist li {
    list-style-type: none;
    font-size:22px;
}
.booklist ul {
    text-align: center;
}
.booklist li {
    color: goldenrod;
}
.booklist a {
    color: cornflowerblue;
}
.booklist a:first-child {
    color: deepskyblue;
}
.booklist a:first-child:hover {
    color: gold;
}