@page
@model NoteBook.Pages.Journals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Journal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Journal.JournalId" />
            <div class="form-group">
                <label asp-for="Journal.Title" class="control-label"></label>
                <input asp-for="Journal.Title" class="form-control" />
                <span asp-validation-for="Journal.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.Date" class="control-label"></label>
                <input asp-for="Journal.Date" class="form-control" />
                <span asp-validation-for="Journal.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.ColorId" class="control-label"></label>
                <select asp-for="Journal.ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="Journal.ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.Content" class="control-label"></label>
                <input asp-for="Journal.Content" class="form-control" />
                <span asp-validation-for="Journal.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.NotebookId" class="control-label"></label>
                <select asp-for="Journal.NotebookId" class="form-control" asp-items="ViewBag.NotebookId"></select>
                <span asp-validation-for="Journal.NotebookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.WeatherId" class="control-label"></label>
                <select asp-for="Journal.WeatherId" class="form-control" asp-items="ViewBag.WeatherId"></select>
                <span asp-validation-for="Journal.WeatherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.MoodId" class="control-label"></label>
                <select asp-for="Journal.MoodId" class="form-control" asp-items="ViewBag.MoodId"></select>
                <span asp-validation-for="Journal.MoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal.Note" class="control-label"></label>
                <input asp-for="Journal.Note" class="form-control"></input>
                <span asp-validation-for="Journal.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
