@page
@model NoteBook.Pages.Weathers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Weather</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Weather.WeatherId" />
            <div class="form-group">
                <label asp-for="Weather.WeatherName" class="control-label"></label>
                <input asp-for="Weather.WeatherName" class="form-control" />
                <span asp-validation-for="Weather.WeatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weather.WeatherPic" class="control-label"></label>
                <input asp-for="Weather.WeatherPic" class="form-control" />
                <span asp-validation-for="Weather.WeatherPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
